body {
  background-image: url(https://art.ngfiles.com/images/94000/94846_gordyh_park-background.png?f1270566376);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Kulim Park', sans-serif;
}

#map {
  height: 600px;
  border-radius: 8px;
  box-shadow: 1px 2px 5px #999;
}

.image {
  width: 350px;
  height: 175px;
}

.card-body {
  height: 600px;
}

p {
  font-size: 24px;
}

.openHours {
  color: #007600;
  font-weight: 600;
}

.notice {
  font-weight: 600;
  font-style: italic;
}

.covid-notice,
.main-covid-header {
  font-weight: 600;
  color: red;
}

.hide {
  display: none;
}

.covid-text {
  font-size: 18px;
  padding-bottom: 30px;
  padding-top: 20px;
}

ul {
  font-size: 18px;
}

.card {
  border-radius: 8px;
  box-shadow: 1px 2px 5px #999;
}

.notice,
.covid-notice,
.features {
  font-size: 18px;
}
